pkgbase = python-gtfparse
	pkgdesc = Python library for parsing GTF files
	pkgver = 1.1.2
	pkgrel = 1
	url = https://pypi.python.org/pypi/gtfparse
	arch = any
	license = Apache
	makedepends = python
	makedepends = python-setuptools
	makedepends = python2
	makedepends = python2-setuptools
	options = !emptydirs
	source = python-gtfparse-1.1.2.tar.gz::https://pypi.io/packages/source/g/gtfparse/gtfparse-1.1.2.tar.gz
	sha256sums = c7ce355e79c2b9f81d2c7da048c4d9d1516023fa1781212ebeefb21e470d5076

pkgname = python-gtfparse
	depends = python
	depends = python-numpy
	depends = python-pandas

pkgname = python2-gtfparse
	depends = python2
	depends = python2-numpy
	depends = python2-pandas

