pkgbase = duplex-seq-git
	pkgdesc = duplex-seq
	pkgver = 1.008.r55.g36e6c62
	pkgrel = 1
	url = https://github.com/twinstrandbio/duplex-seq
	arch = x86_64
	license = custom:twinstrand
	depends = git-lfs
	depends = jre8-openjdk>=8
	depends = r
	depends = scala
	depends = sbt
	provides = duplex-seq-git
	conflicts = duplex-seq-git
	source = twinstrand-pipeline.sh
	source = twinstrand-tools.sh
	source = bwakit-0.7.12_x64-linux.tar.bz2::http://sourceforge.net/projects/bio-bwa/files/bwakit/bwakit-0.7.12_x64-linux.tar.bz2/download
	source = git+https://github.com/lh3/bwa.git#tag=v0.7.15
	source = git+https://github.com/AstraZeneca-NGS/VarDict.git#commit=328e00a1166abe4406020a9af12ca816a93517be
	source = git+https://github.com/AstraZeneca-NGS/VarDictJava.git#tag=v1.5.1
	source = git+https://github.com/broadinstitute/picard.git#tag=2.10.6
	source = git+https://github.com/twinstrandbio/duplex-seq.git
	md5sums = ef885cbb37dab976b85b02c56cda0392
	md5sums = 444e28cad5d4ef097e8e15597b2f9ba5
	md5sums = 2ee18698a414f401f012fcd5cbb0bf86
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = duplex-seq-git

